<%= link_to "Back To All Houses", houses_path %>
<h2><%= @house.name %></h2>
<h5><%= @house.motto %></h5>


<p><%= @house.sigil %></p>
<p><%= @house.location %></p>

<img src="<%= @house.banner_img %>">

<h3>Members</h3>
<a href=""> Add New Family Member </a>
