<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="app/assets/stylesheets/application.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/houses"><h1>Game of Thrones</h1></a>
      </div>
      <div class="messages">
        <% flash.each do |type, message| %>
          <p class="flash <%= type %>"> <%= message %></p>
        <% end %>
      </div>
    </nav>

    <%= yield %>
    <footer> by <a href="#" class="portfolio">KLA</a></footer>
  </body>
</html>
